<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<form th:object="${user}" th:action="@{/users}" method="post">
    <table>
        <tr>
            <td><label>
                <input type="text" th:field="*{name}" placeholder="name" required>
            </label></td>
            <td><label>
                <input type="text" th:field="*{lastName}" placeholder="lastname" required>
            </label></td>
            <td><label>
                <input type="text" th:field="*{age}" placeholder="age" required>
            </label></td>
            <td><button type="submit">Add</button></td>
            <td></td>
        </tr>
    </table>
</form>

<br>
<br>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </tr>

    <tr th:each="user : ${users}">
        <form th:method="PATCH" th:object="${user}" th:action="@{/users/{id} (id=${user.getId()})}">
            <td th:type="text" th:utext = "${user.getId()}" th:name="ID"></td>
            <td><input type="text" th:value="${user.getName()}" th:name="name"/></td>
            <td><input type="text" th:value="${user.getLastName()}" th:name="lastName"></td>
            <td><input type="text" th:value="${user.getAge()}" th:name="age"/></td>
            <td><button type="submit">Edit</button></td>
            <td>
        </form>
        <form th:method="DELETE" th:object="${user}" th:action="@{/users/{id} (id=${user.getId()})}">
            <button type="submit">Delete</button>
        </form>
        </td>
    </tr>
</table>


</body>
</html>